/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Arial, sans-serif;
    background: linear-gradient(120deg, #264653, #f4f1de); 
    color: white;
    line-height: 1.6;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #2a9d8f; 
    color: white;
    padding: 2rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header .logo {
    font-size: 2.5rem;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 2rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e76f51; 
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 15%;
    text-align: left;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.hero-title {
    font-size: 5rem;
    font-weight: bold;
    color: #264653; 
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

.hero-subtitle {
    font-size: 2rem;
    color: #e76f51; 
    font-style: italic;
    padding-bottom: 1rem;
}

.cta-button {
    margin-top: 3rem;
    background-color: #3d5a80; 
    color: white;
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.cta-button:hover {
    background-color: #2e7d32; 
    transform: translateY(-3px);
}

footer {
    text-align: center;
    background-color: #2a9d8f; 
    color: white;
    padding: 20px;
    border-top: 1px solid #ddd;
    width: 100%; /* Ensures footer spans the width */
    position: relative; /* Required to align while retaining normal flow */
}